<nav>
  <ul>
    <li class="home">
      <% link_to home_path do %>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      <% end %>
    </li>
    <li><%= active_link_to "Auto Progress", demo_a_path %></li>
    <li><%= active_link_to "Click-To Progress", demo_b_path %></li>
    <li><%= active_link_to "Carousel of Time", demo_c_path %></li>
    <li><%= active_link_to "Slideshow", demo_d_path %></li>
    <li><%= active_link_to "DO Logo", demo_e_path %></li>
    <li><%= active_link_to "Twist", demo_f_path %></li>
  </ul>
</nav>